/* basic styling and typo */

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Georgia", sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.55;
    color: rgb(50, 50, 50);
    letter-spacing: 0.1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin: 0;
}

h1 {
    margin: 30px 0;
}

a {
    text-decoration: none;
    color: #2895F1;
    text-decoration: underline;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

a:hover {
    color: #1B32A6;
}

a.active {
    text-decoration: underline;
}

p {
    margin: 25px 0 0;
}

h1 + p {
    margin: 0;
}

small {
    font-size: .75rem;
}


/* navigation */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: transparent;
    box-shadow: none;
    color: white;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

header.white {
    background-color: rgba(255, 255, 255, .975);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    color: rgb(50, 50, 50);
}

header nav ul {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    padding: 35px;
    color: inherit;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: .75rem;
    position: relative;
    -webkit-transition: .35s;
    transition: .35s;
    letter-spacing: 0.75px;
}

header nav ul li a:hover {
    color: rgba(0, 0, 0, .5);
}


/* hero image container and typo */

div.hero {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url("../img/hero.jpg") center rgb(50, 50, 50);
    background-size: cover;
    background-repeat: no-repeat;
}

div.center-container {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.hero div.center-container h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 15px;
    opacity: 0;
    -webkit-animation: fade-in ease-in-out 1;
    animation: fade-in ease-in-out 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

div.hero div.center-container h2 {
    font-size: 1.25rem;
    opacity: 0;
    -webkit-animation: fade-in ease-in-out 1;
    animation: fade-in ease-in-out 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

div.hero div.center-container p a {
    color: inherit;
    font-style: italic;
    text-decoration: none;
    opacity: 0;
    -webkit-animation: fade-in-translate ease-in-out 1;
    animation: fade-in-translate ease-in-out 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}


/* main container and content */

div.main-container {
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    margin: 100px auto;
}

div.text-container {
    width: 75%;
    margin: 0 auto;
}

div.image-container {
    margin: 30px 0;
    width: 100%;
}

div.image-container > img {
    float: left;
    width: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    position: relative;
}

div.image-container > a {
    float: left;
    width: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    position: relative;
}

div.image-container > a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

div.image-container > a:hover:before {
    background: rgba(0, 0, 0, .75);
}

div.image-container > a:hover span {
    -webkit-transform: translate(-50%, -30px);
    -ms-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
}

div.image-container > a:hover span + span {
    opacity: 1;
    -webkit-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
}

div.image-container > a > img {
    max-width: 100%;
    float: left;
}

div.image-container > a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
}

div.image-container > a > span + span {
    opacity: 0;
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    font-size: .75rem;
}

div.image-container:after {
    content: "";
    display: block;
    clear: both;
}


/* footer */

footer {
    width: 70%;
    max-width: 700px;
    padding: 75px 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 0 auto;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

.mobile {
    display: none;
}


/* page load animations */

@keyframes fade-in-translate {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 40px);
        transform: translate(0, 20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes fade-in-translate {
    from {
        opacity: 0;
        -webkit-transform: translate(0, 40px);
        transform: translate(0, 20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* media queries
breakpoint at 767px (e.g. apple ipad still normal) to change to mobile layout */

@media (max-width: 767px) {
    html {
        font-size: 18px;
    }
    a.active {
        text-decoration: none;
    }
    header nav ul {
        left: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 100%;
        float: left;
    }
    header nav:after {
        content: "";
        display: block;
        clear: both;
    }
    header nav ul li {
        display: none;
    }
    header nav ul li a:hover {
        color: inherit;
    }
    header nav ul li.mobile {
        display: inline-block;
    }
    header nav ul li.mobile.mobile-home {
        float: left;
    }
    header nav ul li.mobile.mobile-menu {
        float: right;
    }
    header nav ul li.mobile i {
        font-size: 1.5em;
    }
    header nav ul li.mobile.mobile-home a {
        padding: 30px 35px;
    }
    header nav ul li.mobile.mobile-menu a {
        padding: 29px 35px;
    }
    div.main-container {
        margin: 50px auto;
    }
    div.text-container {
        width: 80%;
    }
    div.image-container > a {
        width: 100%;
    }
    div.mobile-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(255, 255, 255, .975);
        opacity: 0;
    }
    div.mobile-menu-container a {
        color: inherit;
        text-decoration: none;
    }
    div.mobile-menu-container div.center-container {
        color: rgb(50, 50, 50);
    }
    div.mobile-menu-container ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-family: "Lato", sans-serif;
        font-weight: normal;
        letter-spacing: .75px;
        text-transform: uppercase;
    }
    div.mobile-menu-container ul li {
        display: inline-block;
    }
    div.mobile-menu-container ul li:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    div.mobile-menu-container ul li a {
        display: inline-block;
        padding: 20px 25px;
        width: 120px;
    }
    div.mobile-menu-container .mobile-menu-close {
        float: right;
        font-size: 1.25em;
        padding: 21px 35px;
    }
}
