@import 'reset';
@import 'variables';
@import 'functions';

html {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $fontLineHeight;
    color: $colorText;
}

a {
    color: $colorLink;
}

p:not(:last-child) {
    margin-bottom: $marginBase;
}

section:not(.intro) {
    margin-bottom: $marginBig;
}

.intro {
    position: relative;
    height: $heroHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorIntroText;

    &-container {
        text-align: center;
        padding: 0 10vw;
    }

    &-headline {
        font-size: $fontSizeHeading;
        margin-bottom: $marginBase;
        line-height: $fontLineHeightHeadings;

        .emoji {
            height: 42px;
            display: inline;
            vertical-align: baseline;
        }
    }

    &-text {
        font-size: $fontSizeSubHeading;
    }
}

.content-wrapper {
    width: $contentWidth;
    max-width: $contentWidthMax;
    margin: auto;
    position: relative;

    footer & {
        text-align: center;
    }
}

.work-item {
    width: $imageWidth;
    height: $imageHeight;
    max-width: $imageWidthMax;
    max-height: $imageHeightMax;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    transform: scale(.9);
    opacity: 0;
    pointer-events: none;
    transition: multiTransition((transform, opacity));
    overflow: hidden;

    &.visible {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    &:not(:last-child) {
        margin-bottom: $marginMedium;
    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform .5s ease-in-out;
    }

    &-text {
        color: $colorWhite;
        z-index: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: .25s;
        opacity: 0;

        &-invert {
            color: $colorBlack;
        }
    }

    &.swissplant {
        &::before {
            background-color: transparentize($colorSwissPlant, .1);
        }
    }

    &.wimper {
        &::before {
            background-color: transparentize($colorWimper, .1);
        }
    }

    &::before {
        content: '';
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: transparentize($colorBlack, .2);
        transition: multiTransition((opacity, transform));
    }

    &:hover,
    &:focus {
        &::before {
            opacity: 1;
            pointer-events: none;
        }

        .work-item-text {
            opacity: 1;
            pointer-events: none;
        }

        .work-item-image {
            transform: scale(1.05);
        }
    }
}

footer {
    margin-bottom: $marginMedium;
}

@import 'phone';
