@media (max-width: 768px) {
    html {
        font-size: $mobile-font-size;
    }

    .content-wrapper {
        width: 75vw;
    }

    .work-item {
        width: 90vw;
        outline: none;

        &:not(:last-child) {
            margin-bottom: 5vh;
        }
    }

    section:not(#intro) {
        margin-bottom: 7.5vh;
    }

    footer {
        margin-bottom: 5vh;
    }
}

@media (max-width: 410px) {
    #intro {
        .intro-headline {
            font-size: 2rem;
        }

        .intro-text {
            font-size: 1.15rem;
        }
    }
}

@media (orientation: portrait) {
    .work-item {
        height: 90vw;
    }
}
