@media (max-width: 767px) {
    html {
        font-size: $fontSizeMobile;
    }

    p:not(:last-child) {
        margin-bottom: $marginBaseMobile;
    }

    .intro {
        &-headline {
            font-size: 2rem;
            margin-bottom: $marginBaseMobile;

            .emoji {
                height: 28px;
            }
        }

        &-text {
            font-size: 1.15rem;
        }
    }

    .content-wrapper {
        width: 75vw;
    }

    .work-item {
        width: 90vw;

        &:not(:last-child) {
            margin-bottom: $marginBaseMobile;
        }
    }

    section:not(.intro) {
        margin-bottom: $marginMediumMobile;
    }

    footer {
        margin-bottom: $marginBaseMobile;
    }
}

@media (orientation: portrait) {
    .work-item {
        height: 90vw;
    }
}
