// colors
$text-color: #333;
$intro-color: #444;
$link-color: #3798d8;
$swissplant-color: #007333;
$sfgbb-color: #35281f;
$wimper-color: #fff;

// typo
$default-font-family: 'Source Sans Pro', sans-serif;
$default-font-size: 21px;
$mobile-font-size: 18px;
$default-line-height: 2;
$default-letter-spacing: .1px;
$default-font-weight: normal;

// dimensions
$max-content-width: 800px;
$content-width: calc(100% - 250px);
