// colors
$colorBlack: #000;
$colorWhite: #fff;
$colorText: #333;
$colorIntroText: #444;
$colorLink: #3798d8;
$colorSwissPlant: #007333;
$colorWimper: $colorWhite;

// typo
$fontFamily: 'Source Sans Pro', sans-serif;
$fontSize: 125%;
$fontLineHeight: 1.8;
$fontSizeHeading: 2.5rem;
$fontSizeSubHeading: 1.35rem;
$fontLineHeightHeadings: 1.1;
$fontSizeMobile: 110%;
$fontSizeInPx: 16px * 1.25; // 20px
$fontSizeMobileInPx: 16px * 1.1; // 17.6px

// visual rhythm
$marginBase: $fontSizeInPx * $fontLineHeight;
$marginMedium: $marginBase * 2;
$marginBig: $marginBase * 3;
$marginBaseMobile: $fontSizeMobileInPx * $fontLineHeight;
$marginMediumMobile: $marginBaseMobile * 2;

// dimensions
$contentWidthMax: 768px;
$contentWidth: calc(100% - 250px);
$heroHeight: $marginBase * 15;
$imageWidth: 80vw;
$imageWidthMax: 1200px;
$imageHeight: 53.333vw;
$imageHeightMax: 800px;
