// colors
$text-color: #333;
$intro-color: #444;
$link-color: #3798d8;
$swissplant-color: #007333;
$sfgbb-color: #35281f;
$wimper-color: #fff;

// typo
$default-font-family: 'Source Sans Pro', sans-serif;
$default-font-size: 21px;
$default-line-height: 1.8;
$heading-font-size: 2.5rem;
$subheading-font-size: 1.35rem;
$heading-line-height: 1.1;
$mobile-default-font-size: 18px;


// visual rhythm
$base-margin: $default-font-size * $default-line-height;
$medium-margin: $base-margin * 2;
$big-margin: $base-margin * 3;
$mobile-base-margin: $mobile-default-font-size * $default-line-height;
$mobile-medium-margin: $mobile-base-margin * 2;

// dimensions
$max-content-width: 768px;
$content-width: calc(100% - 250px);
$hero-height: $base-margin * 14;
