@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Butler';
    src: url('../fonts/butler@regular.woff2') format('woff2'),
         url('../fonts/butler@regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/butler@bold.woff2') format('woff2'),
         url('../fonts/butler@bold.woff') format('woff');
    font-weight: bold;
}
