@font-face {
    font-family: 'Social Icons';
    src: url('../font/social-icons.woff2') format('woff2'), url('../font/social-icons.woff') format('woff');
}

.icon {
    font-family: 'Social Icons', sans-serif;
    margin: 0 5px;

    &.facebook {
        &::after {
            display: inline-block;
            content: '\f09a';
            width: 17px;
        }
    }

    &.twitter {
        &::after {
            display: inline-block;
            content: '\f099';
            width: 17px;
        }
    }

    &.github {
        &::after {
            display: inline-block;
            content: '\f09b';
            width: 17px;
        }
    }

    &.linkedin {
        &::after {
            display: inline-block;
            content: '\f0e1';
            width: 17px;
        }
    }

    &.xing {
        &::after {
            display: inline-block;
            content: '\f168';
            width: 17px;
        }
    }

    &.instagram {
        &::after {
            display: inline-block;
            content: '\f16d';
            width: 17px;
        }
    }
}
