@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    line-height: $default-line-height;
    color: $text-color;
    letter-spacing: $default-letter-spacing;
}

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    font-family: $navigation-font-family;
    transform: translate3d(0, 0, 0);
    transition: .5s transform ease-in-out;

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: transparentize($text-color, .1);
        color: transparentize(invert($text-color), .4);
        list-style-type: none;
        transition: opacity .75s ease-in-out;

        &.open {
            opacity: 1;
            pointer-events: auto;
            z-index: 2;
        }

        .nav-item {
            margin: auto;

            .nav-link {
                display: inline-block;
                padding: 40px 45px;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
                letter-spacing: 1.5px;
                font-size: .8rem;
            }
        }
    }

    #navigation-toggle {
        position: absolute;
        right: 0;
        top: 0;
        height: 25px;
        width: 25px;
        padding: 25px;
        margin: 45px 50px;
        z-index: 3;
        transition: transform .25s ease-in-out;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background-color: transparentize($text-color, .3);
            border-radius: 2px;
            transition: background-color .5s ease-in-out;
        }

        &::before {
            height: 50%;
            width: 3px;
            right: calc(50% - 1.5px);
            top: 25%;
        }

        &::after {
            height: 3px;
            width: 50%;
            top: calc(50% - 1.5px);
            left: 25%;
        }

        &.tilted {
            transform: rotate(135deg);

            &::after,
            &::before {
                background-color: transparentize(invert($text-color), .5);
            }
        }
    }
}

section {
    &#intro {
        position: relative;
        height: 100vh;
        background-color: $first-color;
        display: flex;

        .absolute-center {
            margin: auto;
            padding: 0 15vw;
        }

        .intro-headline {
            font-size: 3rem;
            font-family: $default-font-family;
            font-weight: 600;
        }

        .intro-text {
            font-size: 2rem;
        }
    }

    .content-wrapper {
        width: $content-width;
        max-width: $max-content-width;
        margin: auto;
        padding: 150px 0;
        text-align: left;

        &.grid {
            width: $full-grid-width;
            max-width: $max-content-width-grid;
            text-align: center;
        }
    }

    &:nth-of-type(2) {
        background-color: $second-color;
    }

    &:nth-of-type(3) {
        background-color: $third-color;
    }

    &:nth-of-type(4) {
        background-color: $fourth-color;
    }
}

.grid {
    &::after {
        @include clearfix;
    }

    .grid-item {
        display: inline-block;
        position: relative;
        overflow: hidden;

        &.single {
            &-width {
                width: $single-grid-width;
            }

            &-height {
                height: $single-grid-height;
            }
        }

        &.double {
            &-width {
                width: $double-grid-width;
            }

            &-height {
                height: $double-grid-height;
            }
        }

        &.pull {
            &-left {
                float: left;
            }

            &-right {
                float: right;
            }
        }

        &:hover {
            &::before,
            .overlay-text {
                opacity: 1;
            }
        }

        &::before,
        .overlay-text {
            transition: opacity .5s ease-in-out;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: transparentize(#000, .25);
            opacity: 0;
            z-index: 1;
        }

        .overlay-text {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            color: inherit;
            opacity: 0;
            z-index: 1;
        }

        .grid-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;', sans-serif;
            float: left;
        }
    }
}

a {
    color: inherit;
    text-decoration: underline;
}

main,
.nav-list {
    @include reveal-transitions;
}

.load-reveal {
    opacity: 0;
    transform: translateY(100px) scale(.9);
}

#blur-me {
    transition: filter .75s ease-in-out;

    &.hell-yeah {
        filter: blur(25px);
    }
}

@media (max-width: 480px) {
    @import 'phone';
}
