@import 'variables';
@import 'mixins';
@import 'reset';

html {
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    line-height: $default-line-height;
    color: $text-color;
    letter-spacing: $default-letter-spacing;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;

    &:not(.grid-item):not(.nav-link):not(#navigation-toggle)::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: transparentize($text-color, .25);
        transition: transform .25s ease-in-out;
        pointer-events: none;
    }

    &:hover:not(.grid-item):not(.nav-link):not(#navigation-toggle)::after {
        transform: translateY(5px);
    }
}

p:not(:last-child) {
    margin-bottom: 25px;
}

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: .5s transform ease-in-out;

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: transparentize($text-color, .1);
        color: invert($text-color);
        list-style-type: none;
        transition: opacity .75s ease-in-out;

        &.open {
            opacity: 1;
            pointer-events: auto;
            z-index: 2;
        }

        .nav-item {
            margin: auto;

            .nav-link {
                display: inline-block;
                padding: 40px 45px;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
                letter-spacing: 2.5px;
                font-size: .9rem;
            }
        }
    }

    #navigation-toggle {
        position: absolute;
        right: 0;
        top: 0;
        height: 25px;
        width: 25px;
        padding: 25px;
        margin: 45px 50px;
        z-index: 3;
        transition: transform .25s ease-in-out;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background-color: transparentize($text-color, .3);
            border-radius: 2px;
            transition: background-color .5s ease-in-out;
        }

        &::before {
            height: 50%;
            width: 3px;
            right: calc(50% - 1.5px);
            top: 25%;
        }

        &::after {
            height: 3px;
            width: 50%;
            top: calc(50% - 1.5px);
            left: 25%;
        }

        &.tilted {
            transform: rotate(135deg);

            &::after,
            &::before {
                background-color: invert($text-color);
            }
        }
    }
}

main {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform-origin: center;
    display: block;
}

#intro {
    position: relative;
    height: 100vh;
    background: $first-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .absolute-center {
        padding: 0 15vw;
    }

    .intro-headline {
        font-size: 4rem;
        font-family: $heading-font-family;
        font-weight: bold;
    }

    .intro-text {
        font-size: 2rem;
    }
}

.content-wrapper {
    width: $content-width;
    max-width: $max-content-width;
    margin: auto;
    padding: 150px 0;
    text-align: left;
    position: relative;
}

.separate {
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        width: 25vw;
        left: 37.5vw;
        bottom: 0;
        height: 2px;
        background-color: $first-color;
        position: absolute;
    }
}

.grid {
    padding: 7.5vw 7.5vw 150px;

    &::after {
        @include clearfix;
    }

    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50%;
        height: 50vh;
        float: left;
        color: invert($text-color);

        &:hover {
            &::before,
            .overlay-text {
                opacity: 1;
            }

            .overlay-text {
                transform: none;
            }
        }

        &::before,
        .overlay-text {
            transition: opacity .5s ease-in-out, transform .5s ease-in-out;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: transparentize($text-color, .1);
            opacity: 0;
            z-index: 1;
        }

        .overlay-text {
            opacity: 0;
            z-index: 1;
            font-family: $heading-font-family;
            font-size: 1.5rem;
            display: inline-block;
            transform: translateY(15px);
            text-align: center;
        }

        .grid-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;', sans-serif;
            float: left;
        }
    }
}

.load-reveal {
    opacity: 0;
    transform: scale(.9);
    pointer-events: none;
}

#blur-me {
    transition: filter .75s ease-in-out;

    &.hell-yeah {
        filter: blur(10px);
    }
}

@import 'phone';
