@import 'variables';
@import 'mixins';
@import 'reset';

html {
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    line-height: $default-line-height;
    color: $text-color;
    letter-spacing: $default-letter-spacing;
}

a {
    color: inherit;
    text-decoration: underline;

    &.grid-item,
    &.nav-link {
        text-decoration: none;
    }
}

h2 {
    font-family: $heading-font-family;
}

p:not(:last-child) {
    margin-bottom: 25px;
}

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: .5s transform ease-in-out;

    .nav-list {
        position: fixed;
        top: -135px;
        left: 0;
        width: 100%;
        background-color: transparentize(#fff, .05);
        box-shadow: 0 1px 20px transparentize(#000, .8);
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        transition: transform .5s ease-in-out;

        .nav-item {
            margin: auto;

            .nav-link {
                display: inline-block;
                padding: 40px 45px;
                text-transform: uppercase;
                font-family: $heading-font-family;
                text-decoration: none;
                color: inherit;
                letter-spacing: 2px;
                font-size: .8rem;
            }
        }
    }

    &.open {
        .nav-list {
            transform: translateY(135px);
        }

        #navigation-toggle {
            transform: translateY(135px) rotateX(180deg);
        }
    }

    #navigation-toggle {
        position: fixed;
        left: 0;
        top: 0;
        height: 25px;
        width: 25px;
        padding: 25px;
        margin: 45px 50px;
        z-index: 3;
        transition: transform .5s ease-in-out;

        &::after,
        &::before {
            content: '';
            height: 10px;
            width: 3px;
            position: absolute;
            background-color: $text-color;
            border-radius: 2px;
        }

        &::before {
            top: calc(50% - 5px);
            left: calc(50% - 4px);
            transform: rotate(-45deg);
        }

        &::after {
            top: calc(50% - 5px);
            right: calc(50% - 4px);
            transform: rotate(45deg);
        }
    }
}

section {
    &:not(#intro):not(#arbeit) {
        padding-top: 100px;
    }

    &:last-child {
        margin-bottom: 100px;
    }
}

#intro {
    position: relative;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $intro-color;
    overflow: hidden;

    .intro-container {
        padding: 0 15vw;
        text-align: center;
        z-index: 1;
    }

    .intro-headline {
        font-family: $intro-font-family;
        font-size: 2.5rem;
        @include reveal-transitions;
        transition-delay: .55s;
    }

    .intro-text {
        font-size: 1.35rem;
        @include reveal-transitions;
        transition-delay: 1.05s;
    }

    .intro-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        font-family: 'object-fit: cover;', sans-serif;
        z-index: 0;
        @include reveal-transitions;
    }
}

.content-wrapper {
    width: $content-width;
    max-width: $max-content-width;
    margin: auto;
    text-align: left;
    position: relative;
}

.grid {
    &::after {
        @include clearfix;
    }

    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 50%;
        height: 66vh;
        float: left;
        color: #fff;
        @include reveal-transitions;

        &:nth-child(1) {
            transition-delay: .5s;
        }

        &:nth-child(2) {
            transition-delay: .75s;
        }

        &:nth-child(3) {
            transition-delay: 1s;
        }

        &:nth-child(4) {
            transition-delay: 1.25s;
        }

        &:hover {
            &::before,
            .overlay-text {
                opacity: 1;
            }

            .overlay-text {
                transform: none;
            }
        }

        &::before,
        .overlay-text {
            transition: opacity .5s ease-in-out, transform .5s ease-in-out;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: transparentize($text-color, .1);
            opacity: 0;
            z-index: 1;
        }

        .overlay-text {
            opacity: 0;
            z-index: 1;
            font-family: $heading-font-family;
            font-weight: 700;
            display: inline-block;
            text-align: center;
            @include reveal-transforms;
        }

        .grid-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;', sans-serif;
            float: left;
        }
    }
}

.load-reveal {
    opacity: 0;
    pointer-events: none;
    @include reveal-transforms;
}

@import 'phone';
