// colors
$background-color: rgb(255, 255, 255);
$text-color: rgb(65, 65, 65);
$link-color: rgb(40, 149, 241);
$link-color-hover: rgb(27, 50, 166);
$link-color-visited: desaturate($link-color, 50%);
$overlay-color: rgba(255, 255, 255, .95);
$nav-color-bar: linear-gradient(to right, rgb(214, 111, 14) 0%, rgb(40, 149, 241) 50%, rgb(255, 132, 132) 100%);
$border-color: rgba(65, 65, 65, .25);

// typo
$default-font-family: 'Source Sans Pro', sans-serif;
$default-font-size: 21px;
$default-line-height: 1.6;
$default-letter-spacing: .1px;
$default-font-weight: normal;
$small-font-size: $default-font-size * 0.9;
$tiny-font-size: $default-font-size * 0.8;

// dimensions
$content-width: 900px;
$footer-width: $content-width * 0.75;
$full-grid-width: $content-width;
$single-grid-width: $full-grid-width / 3;
$double-grid-width: $single-grid-width * 2;
$full-grid-height: 600px;
$single-grid-height: $full-grid-height / 3;
$double-grid-height: $single-grid-height * 2;
