// colors
$text-color: transparentize(#fff, .05);
$first-color: rgb(214, 111, 14);
$second-color: rgb(255, 132, 132);
$third-color: rgb(40, 149, 241);
$fourth-color: #445;

// typo
$default-font-family: 'Source Sans Pro', sans-serif;
$navigation-font-family: 'Open Sans', sans-serif;
$default-font-size: 21px;
$default-line-height: 1.7;
$default-letter-spacing: .1px;
$default-font-weight: normal;

// dimensions
$content-width: 900px;
$full-grid-width: 1024px;
$single-grid-width: $full-grid-width / 3;
$double-grid-width: $single-grid-width * 2;
$full-grid-height: 600px;
$single-grid-height: $full-grid-height / 3;
$double-grid-height: $single-grid-height * 2;
